.section {
    padding-top: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80vw;
    margin: 0 auto;
}

.child-section {
    position: relative;
    width: 100vw;
    flex-wrap: wrap;
}

.of {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%);
}

.child-section img {
    width: 49.4vw;
}

.child-section .of p {
    color: #FFEFEC;
    font-size: 18px;
    font-weight: 700;
    
}

.child-section .of h2 {
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Volkhov', serif;
}

.of button {
    color: #FFFFFF;
    background-color: unset;
    border-radius: 4px;
    border: 1px solid #FFF;
    font-size: 15px;
    text-align: center;
    padding: 17px 33px;
    margin-top: 20px;
    cursor: pointer;
}

@media  screen and (max-width:992px) {
    .section{
        flex-direction: column;
    }
    .child-section img{
        width: 100vw;
    }
    .son button{
        font-size: 12px;
        padding: 12px 20px;
    }
    .son h2{
        font-size: 30px;
    }
}